@{
    ViewData["Title"] = "Home Page";
    //if you have data to be passed from front end. pass it here
    //This is razor pages.
    string myName = "Zyle Geralde";
}

<div class="text-center">
    <h1 class="display-4">@myName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
